<div class="main">

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">MissionCrate</h5>
        <p class="grey-text text-lighten-4">Add some rows and columns here later</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Additional Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        © <%= Date.today.year %> GeekfulThinking
          <ul class="right">
            <li><%= link_fa_to 'facebook-official fa-2x', '', 'http://www.facebook.com' %></li>
            <li><%= link_fa_to 'twitter fa-2x', '', 'http://www.twitter.com' %></li>
            <li><%= link_fa_to 'pinterest fa-2x', '', 'http://www.pinterest.com' %></li>
            <li><%= link_fa_to 'youtube fa-2x', '', 'http://www.youtube.com' %></li>
            <li><%= link_fa_to 'tumblr fa-2x', '', 'http://www.tumblr.com' %></li>
            <li><%= link_fa_to 'instagram fa-2x', '', 'http://www.instagram.com' %></li>
          </ul>
      </div>
    </div>
  </div>
</footer>

</div>