<div class="navbar-fixed">
  <nav class="nav-extended navbar-color">
      <div class="container nav-wrapper">
        <a href="/" class="brand-logo">MissionCrate</a>
        <a href="#" data-activates="mobile-nav" class="button-collapse hide-on-med-and-up"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="subscribe">Subscribe</a></li>
          <% if !user_signed_in? %>
            <li><%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path%></li>
          <% else %>
            <li><%= fa_icon 'user-o' %>  <%= current_user.email %></li>
            <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
          <% end %>
        </ul>
        <ul class="side-nav" id="mobile-nav">
        <% if !user_signed_in? %>
          <li><%= link_to "Login", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
          <li><a href="register">Subscribe</a></li>
          <li><a href="#">Cart</a></li>
          <li><a href="#">What's Inside</a></li>
          <li><a href="#">Customize</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>

      <div class="container nav-content">
        <ul class="tabs tabs-transparent hide-on-small-only">
          <li class="tab"><%= link_to "What's Inside", root_path(anchor: "whats-inside") %></li>
          <li class="tab"><%= link_to "Customize", root_path(anchor: "customize") %></li>
          <li class="tab"><%= link_to "About", root_path(anchor: "about-data") %></li>
          <a href="#" data-activates="slide-out" class="button-collapse"><i class="small material-icons">shopping_cart</i></a>
        </ul>
        <ul>
        </ul>
      </div>
  </nav>
</div>
</div>
