<ul id="slide-out" class="side-nav">
  <h5 class="center-align">Your Cart</h5>
    <div class='container'>
      <hr>
    </div>
    <br>
    <li><% if @order_items != nil %>
          <% if @order_items == nil || @order_items.any? %>
            <% @order_items.each do |item| %>
              <div class="row valign-wrapper center-align">
                <div class="col l3">
                  <p id='left'>
                    <%= item.product.name %>
                  </p>
                </div>

                <div class="col l2">
                  <%= image_tag(item.product.image, class: 'cart-img-sidebar') %>
                </div>

                <div class="col l2">
                  <%= number_to_currency item.product.price %>
                </div>

                <div class="col l3">
                  Quantity: <%= item.quantity %>
                  <%= link_to "Remove", order_item_path(item), method: :delete %>
                </div>
                
                <div class="col l2 right-align">
                  <%= number_to_currency (item.product.price * item.quantity) %>
                </div>
              </div>
          <% end %>
            <div class='container'>
            <hr>
              <p class="right-align">Order Total: <%= number_to_currency current_order.total_price %></p>
            </div>
          <% else %>
            <p class= "center-align">Your shopping cart is empty.</p>
          <% end %>
        <% end %></li>
</ul>

<script type="text/javascript">
    $(".button-collapse").sideNav({
      edge: 'right',
      menuWidth: 450
    });
</script>