<div class="row">
	<% @products.each do |product| %>
		<div class="center-align">
    	<div class="col s6 l6">
      	<div class="card blue-grey darken-1 white-text">
				  <h5>
				  	<%= product.name %>
				  </h5>

				  <%= image_tag(product.image, class: 'responsive-img') %>

		  		<p class="right-align">
		  			Price: <%= number_to_currency product.price %>
	  			</p>

		  		<%= form_for @order_item do |f| %>
			    	<%= f.hidden_field :product_id, value: product.id %>
 
			    	<div class="right-align">
			    		<%= f.select :quantity, options_for_select(["1 month subscription - #{number_to_currency product.price}", "3 month subscription - #{number_to_currency product.price * 3}", "6 month subscription - #{number_to_currency product.price * 6}", "12 month subscription - #{number_to_currency product.price * 12}"], { include_blank: true }) %>
		    		</div>

			    	<p class="right-align">
			    		<%= f.submit "Subscribe", class: 'btn cart-btn', type: 'submit', name: 'action' %>
		    		</p>

	    	</div>
  		</div>
	  <% end %>
  	</div>
<% end %>
</div>