<br>
<br>
<br>
<br>
<div class='container'>
    <div class="card blue-grey darken-1">
    	<div class="card-content white-text">
      	<div class="card-block">
<% if @order_items.any? %>
  <% @order_items.each do |item| %>
    <div class="row valign-wrapper center-align">
      <div class="col l3">
        <h5 id='left'>
          <%= item.product.name %>
        </h5>
      </div>

      <div class="col l2">
        <%= image_tag(item.product.image, class: 'cart-img') %>
      </div>

      <div class="input-field col l8">
        <div>
        <%= form_for item do |f| %>
          <%= f.select :quantity, [
           ["1 month subscription - #{number_to_currency item.product.price}", 1],
           ["3 month subscription - #{number_to_currency item.product.price * 3}", 3],
           ["6 month subscription - #{number_to_currency item.product.price * 6}", 6],
           ["12 month subscription - #{number_to_currency item.product.price * 12}", 12]] %>
          <%= f.submit "Update", class: 'btn btn-small cart-update-btn', type: 'submit', name: 'update' %>
        <% end %>
        <%= link_to "Remove", order_item_path(item), method: :delete, data: { confirm:  "Are you sure?" }, class: "float-right" %>
        </div>
      </div>
      
      <div class="col l2 right-align">
        <%= number_to_currency (item.product.price * item.quantity) %>
      </div>
    </div>
  <% end %>
  <hr>
  <p class="right-align">Cart Total: <%= number_to_currency current_order.calculate_total %></p>
<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>
<!-- <hr id="half-size-hr">
          <h5 class='center-align'>Not finished? <%= link_to "Continue Shopping", root_path(@pages, :anchor => "products"), class: 'btn' %></h5> -->
			</div>
		</div>
	</div>
</div>