<br>
<br>
<br>
<br>
<br>
<div class="row">
	<% @products.each do |product| %>
		<div class="container center-align">
    	<div class="col s6">
      	<div class="card blue-grey darken-1 white-text">
				  <p>
				  	<%= product.name %>
				  </p>

		  		<p>
		  			Price: <%= number_to_currency product.price %>
	  			</p>

		  		<%= form_for @order_item do |f| %>
			    	<%= f.hidden_field :product_id, value: product.id %>
 
			    	<div class="right-align">
			    		Quantity: <%= f.select :quantity, options_for_select((1..10).collect {|s| ["#{s}", s]}, { include_blank: true }) %>		
		    		</div>

			    	<p class="right-align">
			    		<%= f.submit "Add to cart", class: 'btn cart-btn', type: 'submit', name: 'action' %>
		    		</p>

	    	</div>
  		</div>
	  <% end %>
  	</div>
<% end %>
</div>



